.colorPink
{
	color:#ff7295;
}

.colorYellow
{
	color:#fff999;
}

.colorLime
{
	color:#e6ff7a;
}

.colorBlue
{
	color:#aafff6;
}

.colorOrange
{
	color:#ff8266;
}

.colorTeal
{
	color:#bcffcf;
}

.colorPurple
{
	color:#c5bfff;
}