@media (min-width: 768px) {
	.navbar .navbar-inner {
	    background-color: #fff999;
	}

	.navbar .nav .navbardefault{
	    width: 100%;
	    background-color: white;

	}

	/*.navbar .nav li {
	    display: table-cell;
	    width: 20%;
	    float: none;
	}

	.navbar .nav li a {
	    text-align: center;
	    border-left: 1px solid rgba(255, 255, 255, .75);
	    border-right: 1px solid rgba(0, 0, 0, .1);
	}

	.navbar .nav li:first-child a {
	    border-left: 0;
	    border-radius: 3px 0 0 3px;
	}

	.navbar .nav li:last-child a {
	    border-right: 0;
	    border-radius: 0 3px 3px 0;
	}

	.navbar-collapse {
	  padding: 0;
	  overflow-x: visible;
	  -webkit-overflow-scrolling: touch;
	  border-top: 1px solid transparent;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	}*/

	.collapse {
  		display: none;
  		padding:0;
	}

	.container-fluid {
	  padding: 0;
	  margin-right: auto;
	  margin-left: auto;
	}
}

/*Reset navbar colors*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus{
	background-color: #ff7295;
	color: white;
}

.navbar-default .navbar-nav>.active>a:hover{
	color: #fff999;
	background-color: #ff7295;
}

.navbar .nav li a:hover{
	color:#fff999;
}

.navbar .nav li a {
	font-weight: bold;
	color:#ff7295;
}

.navbar-default .navbar-brand {
	color: black;
	border-color: #fff999;
}

/*index.html styling for desktop*/


section {
    width: 100%;
    margin:auto;
    overflow:hidden;
    display: table-cell;
	vertical-align:bottom;
	position:fixed;
	bottom: 0;
}

.homeContent div div h1 {
	font-size: 150px;
	font-family: 'CenturyGothic';
	text-align: center;
}

.homeContent div {
	margin-top: 5%;
}

.homeContent div div h1 span {
	margin:-20px;
	padding: 0px;
}

@media (min-width: 1200px) {
	.homeContent div {
		margin-top: 7%;
	}
}


/*index.html styling for desktop end*/


/*index.html styling for mobile*/
@media (max-width: 767px) {

	/*.homeContent h1 {
	font-size: 50%;
	}

	.homeContent h2 {
	font-size: 20px;
	}*/

	
	/*index.html styling for mobile end*/

	/*resume.html styling for mobile*/

	
}
@media (max-width: 478px) {
	.starToggle {
		visibility: collapse;
	}
}

@media (max-width: 565px) {
	.floatLeft {
		width:20%;
	}
}

@media (max-width: 448px) {
	#location {
		text-align: center;
	}
	.starIcon{
		text-align: center;
	}
	#email {
		text-align: center;
	}
}
/*resume.html styling for mobile end*/

/*Resume styling desktop*/
h4{
	color:gray;
	display:inline;
}

#contactInfo {
	clear:both;
	display:inline;
}

#contactInfo h4{
	color:#585858;
}

.starIcon {
	margin-bottom:10px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.resumeContent {
	width:90%;
	margin:auto;
}

#objective {
	
	margin-top:20px;
}

#technicalCompetencies {
	margin-top:15px;
	margin-bottom:20px;
}

.sectionHeaderText {
	margin-top: -5px;
	margin-bottom: -5px;
}

.sectionHeader {
	margin-top:10px;
}

.floatLeft {
	float:left;
	width:50%;
}

.floatRight {
	float:right;
	color:#585858;
	margin-right:0px;
	padding-left:20px;
	width:50%;
	text-align: right;
}

#cumulativeGPA {
	color:#585858;
}

.notInline
{
	clear:both;
	display:block;
}

.twoLineTitle
{
	margin-top:-5px;
}

#amazon
{
	margin-top:20px;
}

#educationHeader
{
	margin-top:20px;
}

#GATitle
{
	width:40%;
}

#GAList li
{
	color: #00b386;
	margin-left:-20px;
}

#GADescription
{
	margin-bottom:5px;
}

.buttonText
{
	display:inline-block;
	color:white;
	vertical-align:middle;
	line-height: normal;
}
/*End of Resume styling for desktop*/

.linkButton
{
	margin:auto;
	width:150px;
	height:50px;
	margin-top:50px;
	background-color: #00b386;
	border:solid 1px gray;
	border-radius:10px;
	text-align:center;
	line-height: 50px;
	margin-bottom:50px;
}

.portfolioPieceButton
{
	width:150px;
	height:150px;
	background-color:#00b386;
	border:solid 1px gray;
	border-radius:10px;
	text-align:center;
	line-height: 50px;
	padding:10px;
}

.ppButtonText
{
	color:white;
	vertical-align:center;
	line-height: normal;
}