@media (min-width: 768px) {
	.navbar .navbar-inner {
	    padding: 0;
	}

	.navbar .nav {
	    margin: 0;
	    padding:0;
	    display: table;
	    width: 100%;
	    background-color: white;

	}

	.navbar .nav li {
	    display: table-cell;
	    width: 20%;
	    float: none;
	}

	.navbar .nav li a {
	    text-align: center;
	    border-left: 1px solid rgba(255, 255, 255, .75);
	    border-right: 1px solid rgba(0, 0, 0, .1);
	}

	.navbar .nav li:first-child a {
	    border-left: 0;
	    border-radius: 3px 0 0 3px;
	}

	.navbar .nav li:last-child a {
	    border-right: 0;
	    border-radius: 0 3px 3px 0;
	}

	.navbar-collapse {
	  /*padding-right: 15px;
	  padding-left: 15px;*/
	  padding: 0;
	  overflow-x: visible;
	  -webkit-overflow-scrolling: touch;
	  border-top: 1px solid transparent;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	}

	.collapse {
  		display: none;
  		padding:0;
	}

	.container-fluid {
	  padding: 0;
	  margin-right: auto;
	  margin-left: auto;
	}
}

#bannerPhotoDiv{
	overflow-y:hidden;
}

#bannerPhotoDiv img{
	width:100%;
}

body{
	background:#e6fff3;
}

/*Reset navbar colors*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus{
	background-color: #00b386;
	color: white;
}

.navbar-default .navbar-nav>.active>a:hover{
	color: gray;
	background-color: #00b386;
}

.navbar .nav li a:hover{
	color:gray;
}

.navbar .nav li a {
	font-weight: bold;
	color:#00b386;
}

.navbar-default .navbar-brand {
	color: #00b386;
}

h1 {
	color:#00b386;
}

/*index.html styling for desktop*/
#profilePic img{
	border:2px gray solid;
}

#leftColumn {
	float:left;
	margin-left:50px;
	width:50%;
	overflow:hidden;
}

#rightColumn {
	float:right;
	margin-right: 50px;
	width:50%;
	overflow:hidden;
}

#profilePic {
	margin:auto;
	display: block;
	margin-top: 30px;
}

section {
    width: 90%;
    margin:auto;
    overflow:hidden;
}

div#one {
    float: left;
    width:40%;
    text-align: center;
}
div#two {
	text-align:center;
    float:right;
    display:block;
    width:60%;
}

#funHeader {
	margin-top:40px;
}

#two h1 {
	font-size: 70px;
}

#two h2 {
	color:gray;
}

#headline {
	margin-top:40px;
}
/*index.html styling for desktop*/

/*index.html styling for mobile*/
@media (max-width: 767px) {


	div#one{
		text-align:center;
		margin:auto;
		float:none;
		width:100%;
	}
	
	div#two {
		margin:auto;
		overflow:hidden;
		float:none;
		width:100%;
	}
	section {
		margin:auto;
	}

	#two h1 {
	font-size: 50px;
	}

	#profilePic {
		margin-top:10px;
	}

	#headline {
		margin-top:30px;
	}
}
/*index.html styling for mobile*/