@media (min-width: 768px) {
	.navbar .navbar-inner {
	    padding: 0;
	}

	.navbar .nav {
	    margin: 0;
	    padding:0;
	    display: table;
	    width: 100%;
	    background-color: white;

	}

	.navbar .nav li {
	    display: table-cell;
	    width: 20%;
	    float: none;
	}

	.navbar .nav li a {
	    font-weight: bold;
	    text-align: center;
	    border-left: 1px solid rgba(255, 255, 255, .75);
	    border-right: 1px solid rgba(0, 0, 0, .1);
	    color: #00b386;
	}

	.navbar .nav li:first-child a {
	    border-left: 0;
	    border-radius: 3px 0 0 3px;
	}

	.navbar .nav li:last-child a {
	    border-right: 0;
	    border-radius: 0 3px 3px 0;
	}

	.navbar-collapse {
	  /*padding-right: 15px;
	  padding-left: 15px;*/
	  padding: 0;
	  overflow-x: visible;
	  -webkit-overflow-scrolling: touch;
	  border-top: 1px solid transparent;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	}

	.collapse {
  		display: none;
  		padding:0;
	}

	.container-fluid {
	  padding: 0;
	  margin-right: auto;
	  margin-left: auto;
	}
}

/*#bannerPhoto{
	width:100%;
	margin:auto;
}*/

body{
	/*Darker Background
	background:#ccffe6;*/
	background:#e6fff3;
}

/*Reset navbar colors*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #00b386;
	color: white;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: magenta;
}